body{
    margin: 0;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(245, 245, 245, 0.878);
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    border-radius: 5vh;
}

.title{
    padding: 2vh;
    font-family: Georgia, serif;
}

.task-area{
    border: 1px solid lightgray;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: rgb(233, 181, 198);
    position: absolute;
    width: 65px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
}

.check-button{
  background: linear-gradient(to bottom right, #94eda4, #bfeaba);
  border: 0;
  border-radius: 12px;
  color: #15431f;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.delete-button{
    background: linear-gradient(to bottom right, #b52525, #ff4545);
    border: 0;
    border-radius: 12px;
    color: #211d1d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}