body{
    margin: 0;
    background-image: url('다운로드.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(183, 182, 182, 0.878);
    min-height: 100vh;
    box-shadow: rgba(129, 126, 126, 0) 0px 2px 4px 0px, rgb(244, 245, 246) 0px 2px 16px 0px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    border-radius: 5vh;
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    font-family: Georgia, serif;
    font-size: 300%;
}

.input-area{
    display: flex;
    justify-content: center;
}

#add-button {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#add-button:hover {
    background-color: #ddd;
    color: #555;
    border-color: #ccc;
}

.task-area{
    border: 1px solid rgb(0, 0, 0);
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid rgb(58, 56, 56);
    position: relative;
}

.task-tabs div{
    padding: 1em;
    cursor: pointer;
}

#under-line{
    height: 5px;
    background-color: rgba(85, 81, 81, 0.76);
    position: absolute;
    width: 65px;
    left: 0px;
    top: 51px;
    padding: 0px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#task-input {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    box-sizing: border-box;
    font-size: 14px;
}

.task-done{
    text-decoration: line-through;
}

.check-button{
  background: linear-gradient(to bottom right, #94eda4, #bfeaba);
  border: 0;
  border-radius: 12px;
  color: #15431f;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.delete-button{
    background: linear-gradient(to bottom right, #b52525, #ff4545);
    border: 0;
    border-radius: 12px;
    color: #211d1d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}